body {
    font-family: verdana, 'open sans', sans-serif;
    min-height: 100vh;   
}

ul {
    list-style-type: none;
}

.header {
    margin-top: -50px;
}

.header, .header-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    
}

.header, .sub-header {
    padding: 50px;
    color: #f9faf8;
    background-color: #1f2937;
}

.logo {
    font-size: 24px;
    font-weight: 800;
}

.sub-header {
    display: flex;
    justify-content: space-between;
}

.sub-header2 {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.title {
    font-size: 48px;
    font-weight: bolder;
}

button {
    background-color: #3882f6;
    color: #f9faf8 ;
    border-radius: 5px;
    width: 80px;
}

.big-img {
    padding: 100px;
    background-color: gray;
}